<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <link href="{% static 'skull.css' %}" rel="stylesheet" type="text/css">
    <title>Skull: {{ tag }}</title>
</head>
<body>
<div id="main" class="main">
    <div id="container" class="container">
        <h1>SKULL</h1>
        <h2>» {{ tag }} «</h2>
        
        <div class="players" id="players">
            {% for player in players %}
            <div class="player" id="player-{{ forloop.counter0 }}">
                <div class="nickname">{{ player.nickname }}</div>
                <div class="status">{{ player.status }}</div>
                
                <div class="hand-box">
                    <div class="hand">
                        {% for card in player.hand %}
                        <div class="card hand-{{ forloop.counter0 }}">
                            <div class="card-content">{{ card }}</div>
                        </div><!-- card -->
                        {% endfor %}
                    </div><!-- hand -->
                </div><!-- hand-box -->
                
                <div class="mat" id="mat-{{ forloop.counter0 }}">
                    <div class="stack">
                        {% for card in player.stack %}
                        <div class="card stack-{{ forloop.counter0 }}">
                            <div class="card-content">{{ card }}</div>
                        </div><!-- card -->
                        {% endfor %}
                    </div><!-- stack -->
                </div><!-- mat -->
            
            </div><!-- player -->
            {% endfor %}
        </div><!-- players -->

        <div class='game-status' id="game-status">{{ status }}</div>
        
        <div class="you" id="you">
            <div class="hand-box">
                <div class="hand" id="your-hand">
                    {% for card in your_hand %}
                    <div class="card hand-{{ forloop.counter0 }}">
                        <div class="card-content">{{ card }}</div>
                    </div><!-- card -->
                    {% endfor %}
                </div><!-- hand -->
                
                <div class="control-box" id="control-box">
                    <div class="control" id="refresh-button">Refresh</div>
                </div><!-- control-box -->
            </div><!-- hand-box -->
        
            <div class="mat" id="your-mat">
                <div class="stack" id="your-stack">
                    {% for card in your_stack %}
                    <div class="card stack-{{ forloop.counter0 }}">
                        <div class="card-content">{{ card }}</div>
                    </div><!-- card -->
                    {% endfor %}
                </div><!-- stack -->
            </div><!-- mat -->
        
        </div><!-- you -->

        <div class="msg" id="msg">{{ msg }}</div>

        <form action="{% url 'skull:game' tag %}" id="actions-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="token" value="{{ token }}">
        <input type="hidden" id="move-field" name="move" value="refresh">
        <input type="hidden" id="how-field" name="how" value="whole-page">
        <input type="hidden" id="card-field" name="card" value="0">
        <input type="hidden" id="target-field" name="target" value="{{ nickname }}">
        <input type="hidden" id="bid-field" name="bid" value="0">
        </form>

    </div><!-- container -->
</div><!-- main -->

<pre id="json_exposed">
</pre>

<script>    
$(document).ready(function() {
    
    var game_json = '{{ json_state|safe }}';
    var game_state = JSON.parse(game_json);
    
    function sync_to_game_state ( state )
    {
        $("#json_exposed").html(JSON.stringify(state));
        
        $("#game-status").html(state["status"]);
        
        $("#msg").html(state["msg"]);
        if ( state["msg"] == "" )
        {
            $("#msg").hide();
        }
        else
        {
            $("#msg").show();
        }
        
        if ( "players" in state )
        {
            var contents = [];
            for ( let ii = 0; ii < state["players"].length; ++ii )
            {
                contents.push('<div class="player');
                if ( state["players"][ii]["nickname"] == state["your_nickname"] )
                {
                    contents.push(' player-is-you');
                }
                contents.push('" id="player-' + ii + '">');
                contents.push('<div class="nickname">' + state["players"][ii]["nickname"] + "</div>");
                contents.push('<div class="status">' + state["players"][ii]["status"] + "</div>");
                
                contents.push('<div class="hand-box">');
                contents.push('<div class="hand">');
                
                for ( let jj = 0; jj < state["players"][ii]["hand"].length; ++jj )
                {
                    contents.push('<div class="card hand-' + jj + '">');
                    contents.push('<div class="card-content">' + state["players"][ii]["hand"][jj] + '</div>');
                    contents.push('</div>');
                }
                
                contents.push('</div></div>'); // hand, hand-box
                contents.push('<div class="mat' + ((state["players"][ii]["points"] > 0) ? ' has-point' : '') + '" id="mat-' + ii + '">');
                contents.push('<div class="stack">');
                
                for ( let jj = 0; jj < state["players"][ii]["stack"].length; ++jj )
                {
                    contents.push('<div class="card stack-' + jj + '">');
                    contents.push('<div class="card-content">' + state["players"][ii]["stack"][jj] + '</div>');
                    contents.push('</div>');
                }
                
                contents.push('</div></div></div>'); // stack, mat, player
            }
            
            $("#players").html(contents.join(""));
        }
        
        if ( "your_hand" in state )
        {   
            var contents = [];
            
            for ( let ii = 0; ii < state["your_hand"].length; ++ii )
            {
                contents.push('<div class="card hand-' + ii + '" id="your-hand-' + ii + '">');
                contents.push('<div class="card-content">' + state["your_hand"][ii] + '</div>');
                contents.push('</div>'); // card
            }
            
            $("#your-hand").html(contents.join(""));
            
            contents = []
            
            for ( let ii = 0; ii < state["your_stack"].length; ++ii )
            {
                contents.push('<div class="card stack-' + ii + '">');
                contents.push('<div class="card-content">' + state["your_stack"][ii] + '</div>');
                contents.push('</div>'); // card
            }
            
            $("#your-stack").html(contents.join(""));
            
            if ( state["your_points"] > 0 )
            {
                $("#your-mat").addClass("has-point");
            }
            else
            {
                $("#your-mat").removeClass("has-point");
            }
            
            // controls
            
            // placing uses the cards in hand
            for ( let ii = 0; ii < state["your_hand"].length; ++ii )
            {
                if (state["actions"].includes("place"))
                {
                    $("#your-hand-" + ii).click( function ()
                    {
                        $("#card-field").val(ii);
                        $("#move-field").val("place");
                        submit_move();
                    });
                    $("#your-hand-" + ii).css("cursor", "pointer");
                }
                else
                {
                    $("#your-hand-" + ii).off("click");
                    $("#your-hand-" + ii).css("cursor", "default");
                }
            }
            
            // flipping uses player areas and own mat
            if (state["actions"].includes("flip"))
            {
                if ( state["players"][state["your_turn_order"]]["flipped"] < state["your_stack"].length )
                {
                    // must flip your own first
                    $("#your-mat").click( function ()
                    {
                        $("#target-field").val(state["players"][state["your_turn_order"]]["nickname"]);
                        $("#move-field").val("flip");
                        submit_move();
                    });
                    $("#your-mat").css("cursor", "pointer");
                    $(".player").off("click");
                    $(".player").css("cursor", "default");
                    $("#player-" + state["your_turn_order"]).click( function ()
                    {
                        $("#target-field").val(state["players"][state["your_turn_order"]]["nickname"]);
                        $("#move-field").val("flip");
                        submit_move();
                    });
                    $("#player-" + state["your_turn_order"]).css("cursor", "pointer");
                }
                else
                {
                    for ( let ii=0; ii < state["players"].length; ++ii )
                    {
                        if ( state["players"][ii]["flipped"] < state["players"][ii]["stack"].length )
                        {
                            $("#player-" + ii).click( function ()
                            {
                                $("#target-field").val(state["players"][ii]["nickname"]);
                                $("#move-field").val("flip");
                                submit_move();
                            });
                            $("#player-" + ii).css("cursor", "pointer");
                        }
                        else
                        {
                            $("#player-" + ii).off("click");
                            $("#player-" + ii).css("cursor", "default");
                        }
                    }
                }
            }
            
            // always start controls with just refresh, which should ensure
            // consistent ordering
            $("#refresh-button").nextAll().remove();
            
            // bidding uses a number control
            if (state["actions"].includes("bid"))
            {
                $("#control-box").append("<div class='control' id='bid-button'><label id='bid-label'>Bid: </label>"
                                          + "<input type='number' id='bid-input' "
                                          + "min='" + (state["bid"] + 1) + "' "
                                          + "max='" + (state["placed"]) + "' "
                                          + "value='" + (state["bid"] + 1) + "'/></div>");
                $("#bid-label").click( function () {
                        $("#bid-field").val($("#bid-input").val());
                        $("#move-field").val("bid");
                        submit_move();
                });
                $("#bid-label").css("cursor", "pointer");
            }
            
            // remaining actions are all simple "buttons"
            if (state["actions"].includes("decline"))
            {
                $("#control-box").append("<div class='control' id='pass-button'>Pass</div>");
                $("#pass-button").click( function () {
                        $("#move-field").val("decline");
                        submit_move();
                });
            }
            
            if (state["actions"].includes("start"))
            {
                $("#control-box").append("<div class='control' id='start-button'>Start Game</div>");
                $("#start-button").click( function () {
                        $("#move-field").val("start");
                        submit_move();
                });
            }
                        
            if (state["actions"].includes("end_round"))
            {
                $("#control-box").append("<div class='control' id='end-round-button'>End Round</div>");
                $("#end-round-button").click( function () {
                        $("#move-field").val("end_round");
                        submit_move();
                });
            }

            if (state["actions"].includes("destroy"))
            {
                $("#control-box").append("<div class='control' id='destroy-button'>Destroy Game</div>");
                $("#destroy-button").click( function () {
                        $("#move-field").val("destroy");
                        submit_move();
                });
            }

        }
        else
        {
            $("#your-hand").hide();
            $("#your-mat").hide();
        }
        
    }
    
    function submit_move ()
    {
        document.querySelector("#how-field").value = "whole-page";
        document.querySelector("#actions-form").submit()
    }
    
    function move_refresh ()
    {
        $("#move-field").val("refresh");
        submit_move();
    }
    
    function ajax_refresh ()
    {
        document.querySelector("#how-field").value = "json";
        
        $.ajax({ type: 'POST',
                 url: $("form").attr("action"),
                 data: $("form").serialize(), 
                 success: function(response)
                 {
                     sync_to_game_state(response);
                 }
        });
        
    }

    $("#refresh-button").click(move_refresh);

    var es = new ReconnectingEventSource('/events/{{ tag }}/');

    es.addEventListener('message', function (e) {
        console.log(e.data);
        var dat = JSON.parse(e.data);
        if (dat["text"] == "index")
        {
            window.location.replace("/skull/");
        }
        else if (dat["text"] == "refresh")
        {
             ajax_refresh();
        }
        else
        {
            console.log("unknown event: '" + e.data + "'");
        }
        
    }, false);

    es.addEventListener('stream-reset', function (e) { console.log(e.data); }, false);

    sync_to_game_state ( game_state );
});    
</script>

</body>
</html>