<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Skull</title>
</head>
<body>
<h1>Skull</h1>
    
{% if msg %}<p><strong>{{ msg }}</strong></p>{% endif %}
    
<form action="{% url 'skull:index' %}" method="post" id="join-form">
{% csrf_token %}
    Join game:<br>
    <input id="game-name" type="text" size="100"><br>
    Player nickname:<br>
    <input id="nick" type="text" size="100" name="nick"><br>
    <button id="join" type="button">Join</button><br>
    <input type="hidden" name="move" value="join">
</form>

<script>
    document.querySelector('#game-name').focus();
    document.querySelector('#game-name').onkeyup = function(e)
    {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#nick').focus();
        }
    };

    document.querySelector('#nick').onkeyup = function(e)
    {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#join').click();
        }
    };

    document.querySelector('#join').onclick = function(e)
    {
        var gameName = document.querySelector('#game-name').value;
        document.querySelector('#join-form').action = '/skull/' + gameName + '/';
        document.querySelector('#join-form').submit();
    };
</script>

</body>
</html>