<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8"/>
    <link href="{% static 'join.css' %}" rel="stylesheet" type="text/css">
    <title>No Thanks</title>
</head>
<body>
<div class="container">
<h1>NO THANKS</h1>
    
{% if msg %}
<div class="msg">{{ msg }}</div>
{% endif %}

<div class="join-box">
<h2>Join a game</h2>
<form action="{% url 'nothanks:index' %}" method="post" id="join-form">
{% csrf_token %}
    <div class="join-chunk">
        <label>Game Name</label><br>
        <input id="game-name" type="text" size="16" required pattern="[A-Za-z0-9_]+" class="join-field" autofocus/>
    </div>
    
    <div class="join-chunk">
        <label>Player Name</label><br>
        <input id="nick" type="text" size="16" required pattern="[A-Za-z0-9_]+" name="nick" class="join-field"/>
    </div><!-- join-chunk -->

    <div class="join-chunk note">Allowed characters: letters, numbers, underscores</div>
    
    
    <div class="join-chunk">
        <label for="num_rounds">Rounds: </label>
        <input type="number" id="rounds-field" min="1" max="7" value="3" name="num_rounds" />
    </div><!-- join-chunk -->
    
    <div class="join-chunk">
        <input type="checkbox" name="house_rules" value="yes" />
        <label for="house_rules">House Rules</label>
    </div><!-- join-chunk -->

    <div class="join-chunk note">
        House rules end the move when you take a card.
        Game options are ignored when joining a game that already exists.
    </div>
    

    <div class="control" id="join">Join</div>
    <input type="hidden" name="move" value="join">
</form>
</div><!-- join-box -->

<script>
    document.querySelector('#nick').onkeyup = function(e)
    {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#join').click();
        }
    };

    document.querySelector('#join').onclick = function(e)
    {
        var gameName = document.querySelector('#game-name').value;
        document.querySelector('#join-form').action = '/nothanks/' + gameName + '/';
        if ( document.querySelector('#join-form').reportValidity() )
        {
            document.querySelector('#join-form').submit();
        }
    };
</script>
</div><!-- container -->
</body>
</html>